DATABASE_URL=postgresql://uni_db_i6n3_user:hLwLhN2U7ulSzN47jgrOPz50gghafGUh@dpg-d7d5ioq8qa3s73bf1gng-a/uni_db_i6n3
JWT_ACCESS_SECRET=supersecret123
REFRESH_TOKEN_TTL=30d
STORAGE_PROVIDER=local
UPLOAD_DIR=uploads
PORT=3000
